mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
      background-color: #404040;
       color:white
      mat-nav-list {
        .menu-item {
          margin-left: 8px;
        }
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }

  mat-
  
  .mat-toolbar.mat-primary {
    background: white;
    color: black;
  }
  
  .mat-side {
    background: #F2F2F2;
  }
  
  /* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
  .flexExpand {
    flex: 1 1 auto;
  }
  
  
  
  
  